node_modules
.env
.env.*
desktop.ini
dist
coverage
.vercel
.env*.local
functions/lib

# Playwright
test-results/
playwright-report/
playwright/.cache/

# Firebase Service Accounts
*.sa.json
*-sa.json
sa.json
Tijdelijke Bestanden/PDF/LN Instructies/
